<svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0.7 312.5 246.5"><title>image</title>
    <style>
        .s0 {
            fill: var(--gold)
        }
    </style>
    <g id="Background">
        <path id="Path 1" class="s0" d="m260.9 0.7c2.6 0 15.3 10.6 51.6 47.6l-198.6 198.9-113.9-112.4 46.9-47.7 67.8 66.3 70.7-76.3c38.9-41.9 72.8-76.3 75.5-76.4z"></path>
    </g>
</svg>
