{% form "reset_customer_password", class: "form" %}
    <div class="formTitle">Reset Password</div>

    {{ form.errors | default_errors }}

    <label for="password">Password</label>
    <input id="password" type="password" name="customer[password]">

    <label for="password_confirmation">Password confirmation</label>
    <input id="password_confirmation" type="password" name="customer[password_confirmation]">

    <button class="button">Submit</button>
{% endform %}