<section id="page">
    <div id="pageDescription">
        {{ page.content }}
    </div>
</section>


{% schema %}
{
  "name": "Page",
  "presets": [
    {
      "name": "Page"
    }
  ]
}
{% endschema %}