{% form 'storefront_password' %}
    <label for="password" class="h1">Password</label>
    {{ form.errors | default_errors }}
    <input type="password" name="password" id="password">
    <button type="submit" name="commit" class="button"> Login</button>
{% endform %}
