.storefront-password-form {
    display: grid;
    max-width: 300px;
    padding: 80px 20px;
    margin: auto;
    row-gap: 20px;
    font-size: 21px;
    text-align: center;
}

.storefront-password-form input {
    display: block;
    padding: 10px;
    border: 1px solid black;
}